<%= form_for @user, :class => "form-signin" do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.text_field :username, :placeholder => "Username" %>
  </div>
  <div class="field">
    <%= f.text_field :email, :placeholder => "email#blog.me" %>
  </div>
  <div class="field">

    <%= f.password_field :password, :placeholder => "password" %>
  </div>
  
  <div class="actions">
    <%= f.submit "Create account", :class => "btn btn-large btn-primary" %>
  </div>
<% end %>
